body{
    margin: 0px;
    padding: 0px;
   /* background-color:#011627 ;
    color: #fdfffc;*/
    text-align: center;
    background-image: url(https://i.pinimg.com/564x/1a/5d/8c/1a5d8c05200b6f1d9a56d8133b09923f.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}

input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    color: black;
}

.btn:hover{
    /*background-color: yellow;*/
    cursor: pointer;
}